.hamburgerWrap {
  // .horizontal
  // border: 1px solid black;
  background-color: $secondColor;
  // width: 550px;
  position: fixed;
  z-index: 97;
  top: 55px;
  top: 50%;
  right: 0;
  padding: 55px 15px 15px 15px;
  transform: translate(100%, -50%);
  transition: transform 0.5s ease-in-out;
  min-width: 550px;
  // height: calc(100vh - 55px);
  height: 100%;
  &.is-active {
    transform: translate(0%, -50%);
  }
  .btn {
    background-color: $secondColor;
    border-radius: 10px 0 0 10px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    text-align: center;
    box-shadow: -1px 2px 10px rgba(114, 114, 114, 0.3);
    span.hamburger-box {
      transform: rotate(180deg);
      width: 30px;
      height: 20px;
      .hamburger-inner {
        width: 30px;
        background-color: $white;
        &::before,
        &::after {
          width: 30px;
          background-color: $white;
        }
      }
    }
    &:hover {
      opacity: 1;
    }
    &.is-active .hamburger-inner {
      &::before {
        top: -7px;
      }
      &::after {
        bottom: -7px;
      }
    }
  }
  .infoWrap {
    background-color: $white;
    margin-top: 80px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    // z-index: 99;
    h1 {
      font-size: 20px;
      margin-bottom: 18px;
    }
  }
}
