table {
  font-family: 'Noto Sans TC', sans-serif;
  // border: 1px solid black;
  th {
    font-size: 18px;
    font-weight:500;
    background-color: $firstColor;
    padding: 10px 15px;
    color: $white;
    border-right: 1px solid $grey;
    &:last-child{
       border-right: none;
    }
  }
  tr{
     &:nth-child(odd){
      background-color: $tdColor;
    }
     &:nth-child(even){
      background-color: $white;
    }
  td{
      padding: 6px 10px;
      color: $black;
      text-align: center;
      border-right: 1px solid $grey;
      vertical-align: middle;
      &:last-child{
        border-right: none;
      }
       &.number{
        text-align: right;
      }
      div{
        display: inline-block;
        // padding: 5px ;
        height: 24px;
        width: 24px;
        border-radius: 5px;
        min-width: 11px;
        position: relative;
        &.full{
          background-color: #A0EFEA;
          color: #01717D;
        }
        &.high{
          background-color: #A0EFC9;
          color: #147D88;
        }
        &.good{
          background-color: #FFD47D;
          color: #C56300;
        }
        &.low{
          background-color: #FBC9A8;
          color: #E17305;
        }
        &.empty{
          background-color: #FBB5A8;
          color: #FE0000;
        }
        p{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);

        }
      }
    }
  }
  
  
}