table {
  font-family: 'Noto Sans TC', sans-serif;
  // border: 1px solid black;
  th {
    font-size: 18px;
    font-weight:500;
    background-color: $firstColor;
    padding: 10px 15px;
    color: $white;
    border-right: 1px solid $white;
    &:last-child{
       border-right: none;
    }
  }
  tr{
     &:nth-child(odd){
      background-color: $tdColor;
    }
  td{
      padding: 6px 10px;
      color: $black;
      text-align: center;
      border-right: 1px solid $white;
      &:last-child{
        border-right: none;
      }
       &.number{
        text-align: right;
      }
    }
  }
  
  
}